@model fuskill.Services.DTOs.SkillDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Skill</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<body>
    <p style=></p>
</body>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>

    <style>
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 17px;
            top: 30px;
        }
    </style>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
